.MuiTypography-root > .posts__title {
  color: #333945 !important;
}
.MuiContainer-root,
.posts {
  margin: 0 auto !important;
}
.posts > .MuiCard-root {
  margin-bottom: 2em;
  padding: 0 2.5em;
}

.posts__cardAction > .MuiButton-text {
  color: #fff !important;
  font-weight: bold !important;
}

.MuiCardActions-root {
  display: flex !important;
  justify-content: flex-end;
}

.MuiButton-root a {
  text-decoration: none;
  color: inherit;
}
