.navbar__title,
.MuiTypography-h6 {
  font-weight: bolder !important;
}

.navbar__title > a {
  text-decoration: none;
  color: #fff;
}

.MuiMenuItem-root a {
  text-decoration: none;
  color: #000000 !important;
}
.navbar__link > a {
  text-decoration: none;
  color: #ffffff !important;
}

.MuiToolbar-root {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar__links {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: space-around;
}

.navbar__link {
  margin-left: 1em !important;
}

.MuiAvatar-root {
  width: 35px !important;
  height: 35px !important;
}
